################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndexClass/.vs/IndexClass/v16
/IndexClass/IndexClass/bin/Debug/netcoreapp2.1
/IndexClass/IndexClass/obj
