################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/IndexClass/.vs/IndexClass/v16
/IndexClass/IndexClass/bin/Debug/netcoreapp2.1
/IndexClass/IndexClass/obj
/Equation/.vs/Equation/v16
/Equation/Equation/bin/Debug/netcoreapp2.1
/Equation/Equation/obj
/IndexClass/.vs/IndexClass/DesignTimeBuild
/FirstMVC/.vs/FirstMVC
/FirstMVC/FirstMVC/bin/Debug/netcoreapp3.0
/FirstMVC/FirstMVC/obj
/MVC_First/.vs/MVC_First
/MVC_First/MVC_First/obj
/MVC_second/.vs/MVC_second
/MVC_second/MVC_second/bin/Debug/netcoreapp3.0
/MVC_second/MVC_second/obj
/EF_Master_Detail/.vs/EF_Master_Detail
/EF_Master_Detail/EF_Master_Detail/bin/Debug/netcoreapp3.0
/EF_Master_Detail/EF_Master_Detail/obj
/MVC_First/MVC_First/bin/Debug/netcoreapp2.1
